.contact{
  height: 500px;
  background-color: $bolded-text-color;
  background-image: url('../images/world-map.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}